# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/
pytest_out.txt
pytest_ui_out.txt

# VS Code / IDEs
.vscode/
.idea/
